<div class="contianer-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Manage Reviews</th>
          </tr>
          <tr>
            <th scope="col">Reviewer ID</th>
            <th scope="col">Reviewer Name</th>
            <th scope="col">Review Vote</th>
            <th scope="col">Product ID</th>
            <th scope="col">Total : {{ reviews.length }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                type="text"
                name="reviewerId"
                (input)="onSearch(reviewerIdInput)"
                #reviewerIdInput
              />
            </td>
            <td>
              <input
                type="text"
                name="reviewerName"
                (input)="onSearch(reviewerNameInput)"
                #reviewerNameInput
              />
            </td>
            <td>
              <input
                type="text"
                name="reviewerVote"
                (input)="onSearch(reviewerVoteInput)"
                #reviewerVoteInput
              />
            </td>
            <td>
              <input
                type="text"
                name="productId"
                (input)="onSearch(productIdInput)"
                #productIdInput
              />
            </td>
            <td>
              <p class="fw-bold">Display/Delete</p>
            </td>
          </tr>
          <tr *ngFor="let review of getSlicedArrOfReviews(); let i = index">
            <td>{{ review.reviewerID }}</td>
            <td>{{ review.reviewerName }}</td>
            <td>{{ review.reviewVote }}</td>
            <td>{{ review.productID }}</td>
            <td>
              <i
                class="fas fa-eye view fs-6 me-2"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#rev' + i"
              >
              </i>
              <i
                class="fas fa-trash-alt trash fs-6"
                (click)="onDelete(review._id)"
              ></i>

              <div
                class="modal fade"
                id="rev{{ i }}"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Review Details
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <ul id="modalList">
                        <li>Reviewer ID : {{ review.reviewerID }}</li>
                        <li>
                          Reviewer Name :
                          {{ review.reviewerName }}
                        </li>
                        <li>
                          Product ID :
                          {{ review.productID }}
                        </li>
                        <li>
                          Review Vote :
                          {{ review.reviewVote }}
                        </li>
                        <li>
                          Reviewe Date :
                          {{ review.reviewTime }}
                        </li>
                        <li>
                          Review Summary :
                          {{ review.reviewSummary }}
                        </li>
                        <li>
                          Full Review :
                          {{ review.fullReview }}
                        </li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12" *ngIf="reviews.length >= 9">
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li
            class="page-link bg-gradien"
            (click)="
              currentPage === 0 ? currentPage : (currentPage = currentPage - 1)
            "
            style="cursor: pointer"
          >
            <i class="fas fa-long-arrow-alt-left"></i> Previous
          </li>

          <li
            *ngFor="let page of numOfPages; let i = index"
            class="page-link bg-gradient"
            (click)="currentPage = i"
            [ngClass]="{ active: i == currentPage }"
            style="cursor: pointer"
          >
            {{ page }}
          </li>

          <li
            class="page-link bg-gradien"
            (click)="
              currentPage >= lastPage - 1
                ? currentPage
                : (currentPage = currentPage + 1)
            "
            style="cursor: pointer"
          >
            <i class="fas fa-long-arrow-alt-right"></i> Next
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
