<div class="contianer-fluid">
  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Manage Categories</th>
          </tr>
          <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Subcategries</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">
              <input
                (input)="search('id')"
                [(ngModel)]="idSearch"
                type="text"
                class="form-control"
              />
            </td>
            <td scope="col">
              <input
                (input)="search('name')"
                [(ngModel)]="nameSearch"
                type="text"
                class="form-control"
              />
            </td>
            <td scope="col">
              <input
                (input)="search('sub')"
                [(ngModel)]="subSearch"
                type="text"
                class="form-control"
              />
            </td>
          </tr>
          <tr #CatRow *ngFor="let category of categories">
            <td>{{ category._id }}</td>
            <td>{{ category.name }}</td>
            <td>
              <tr *ngFor="let sub of category.sub">
                <td style="width: 300px">{{ sub }}</td>
                <td>
                  <button
                    *ngIf="CatId == category._id"
                    (click)="DeleteSubCat(category.name, category.sub, sub)"
                  >
                    delete Sub
                  </button>
                </td>
              </tr>
              <tr *ngIf="CatId == category._id">
                <td>
                  <input [(ngModel)]="subText" type="text" class="form-control"/>
                </td>
                <td>
                  <button (click)="AddSubCat(category.name, category.sub)">
                    Add Sub
                  </button>
                </td>
              </tr>
            </td>

            <td>
              <i
                class="fas fa-edit mx-2 view"
                style="cursor: pointer;"
                (click)="editCat(category._id, category.name)"
              ></i>
              <i
                class="fas fa-trash-alt trash"
                style="cursor: pointer;"
                (click)="RemoveCat(category._id, CatRow)"
              ></i>
            </td>
          </tr>
          <tr>
            <td scope="col"></td>
            <td scope="col">
              <input
                #newCatName
                type="text"
                placeholder="new Category name to add"
                class="form-control"
              />
            </td>
            <td scope="col">
              <input
                #newCatSub
                type="text"
                placeholder="new sub Category to add"
                class="form-control"
              />
            </td>
            <td scope="col">
              <button (click)="AddCAtegory(newCatName, newCatSub)">
                Add Category
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
