<div class="contianer-fluid">
    <div class="row">
      <div class="col-12"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Manage shipments</th>
            </tr>
            <tr>
              <th scope="col">Shipment ID</th> 
              <th scope="col">Payment Method</th>
              <th scope="col">Delivery Company</th>
              <th scope="col">date of deleivery</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col">
                <input placeholder="Search by Id" type="text" name="id"  
                 #InputId (input)='idSearch(InputId.value)' />
              </td>
              <td scope="col">
                <input placeholder="Search by Payment" type="text" name="payment" 
                 #InputPayment (input)='paymentSearch(InputPayment.value)'/>
              </td>
              <td scope="col">
                <input placeholder="Search by Company" type="text" name="company"
                  #InputCompany (input)='companySearch(InputCompany.value)'/>
              </td>
              <td scope="col">
                <input placeholder="Search by Date" type="text" name="date" 
                 #InputDate (input)='dateSearch(InputDate.value)'/>
              </td>
              <p style="font-weight: 800;">Total : {{shipments.length}}</p>
            </tr>
            <h3 style="width: 300px;" *ngIf='shipments.length === 0'>{{message}}</h3>
            <tr *ngFor="let shipment of getSlicedArrayOfShipments() let i = index">
              <td>{{ shipment._id }}</td>
              <td>{{ shipment.paymentMethod }}</td>
              <td>{{ shipment.shippingCompany }}</td>
              <td>{{ shipment.deliveryDate }}</td>
              
              <td>
                <i class="fas fa-eye  view mx-1" data-bs-toggle="modal" [attr.data-bs-target]="'#adv'+i"></i>
                <i class="fas fa-trash-alt  mx-1 trash" (click)='delete(i)'></i>
                 <div class="modal fade" id="adv{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Shipments Details</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                         <ul id="modalList">
                           <li>shipment id : {{shipment._id }}</li>
                           <li>shipping Company: {{ shipment.shippingCompany}}</li>
                           <li>payment Method: {{shipment.paymentMethod}} </li>
                           <li>Shipment Address : {{shipment.shipmentAddress.street}}-{{shipment.shipmentAddress.city}}-{{shipment.shipmentAddress.country}}</li>
                           <li>total Price : {{shipment.totalPrice}} </li>
                           <li>delivery Fees: {{shipment.deliveryFees}} </li>
                           <li>userID: {{shipment.userID}} </li>
                         </ul>
                          
  
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
                       </div>
                     </div>
                   </div>
                 </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
           <nav aria-label="...">
             <ul class="pagination justify-content-center">
  
               <li class="page-link" (click)="currentPage===0?currentPage:currentPage=currentPage-1"
                 style="cursor: pointer;">
                 <i class="fas fa-long-arrow-alt-left"></i>
               </li>
  
               <li *ngFor="let page of numOfPages; let i = index" class="page-link" (click)="currentPage = i"
                 [ngClass]="(i === currentPage)? 'active' : '' " style="cursor: pointer;">
                 {{ page }}
                 
               </li>
  
               <li class="page-link " (click)="currentPage>=lastPage-1?currentPage:currentPage=currentPage+1"
                 style="cursor: pointer;">
                 <i class="fas fa-long-arrow-alt-right"></i>
               </li>
  
             </ul>
  
           </nav>
        </div>
      </div>
  
    </div>
  </div>
  