.trash:hover{
    color: red;
     cursor: pointer;
} 

.view:hover{
    color: green;
    cursor: pointer;
}

#modalList{
    list-style-type: none; 
}

#adImg{
    width: 80%; 
}
input::placeholder{
    font-size: 10px;
}
select
{
    font-weight: 100;
}