<div class="contianer-fluid">
    <div class="row">
      <div class="col-12"></div>
    </div>
    <div class="row">
      <div class="col-12">
          <h2>Manage Orders</h2> 
          
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Order Date</th>
              <th scope="col">Order Status</th>
              <th scope="col">Customer Name</th>
            </tr>
          </thead>
          <tbody>
             <tr>
               <!-- <td scope="col">
                 <input class="form-control" placeholder="By Id" type="text" name="id" id="id" #InputId
                   (input)='idSearch(InputId.value)' />
               </td>
               <td scope="col">
                 <input class="form-control" placeholder="By Product Name" type="text" name="name" id="name" #InputName
                   (input)='nameSearch(InputName.value)' />
               </td>
              <td scope="col">
                <input class="form-control" placeholder="By Type" type="text" name="type" id="type" #InputType
                  (input)='typeSearch(InputType.value)' />
              </td>
              <td scope="col">
                <input class="form-control" placeholder="By Seller Name" type="text" name="seller" id="seller" #InputSeller
                  (input)='sellerNameSearch(InputSeller.value)' />
              </td> -->
              <p style="font-weight: 800;text-align: center;">Total : {{orders.length}}</p>
             </tr>
             <h3 style="width: 300px;" *ngIf='orders.length === 0'>{{message}}</h3>
            <tr *ngFor="let order of orders, let i = index">
              <td>{{  order._id  }}</td>
              <td>{{ order.orderDate }}</td>
              <td>{{ order.orderStatus }}</td>
              <td>{{ order.customerId }}</td>
              <td>
                <div class="text-center">
                  <i class="fas fa-eye  view" data-bs-toggle="modal" [attr.data-bs-target]="'#adv'+i"> </i>
                  <i class="fas fa-edit mx-2"></i>
                  <i class="fas fa-trash-alt  trash" (click)='delete(order._id)'></i>
                </div>
              
                <!-- <div class="modal fade" id="adv{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <ul id="modalList">
                          <li>Product id : {{Product._id }}</li>
                          <li>Product name : {{ Product.productName }}</li>
                          <li>Product Info : <ol style="list-style-type: square;">
                            <li *ngFor='let info of productInfoSpread(Product.productInfo[0])'>{{info}} : {{Product.productInfo[0][info]}}</li>
                          </ol>
                          </li>
                          <li>Product Price : <ol style="list-style-type: square;">
                            <li> Price : {{Product.productPrice.currentPrice}} {{Product.productPrice.currency}}</li>
                            <li *ngIf='Product.productPrice.discount > 0'> Discount : {{Product.productPrice.discount}}</li>
                            <li *ngIf='Product.productPrice.discount > 0'> Final Price : {{Product.productPrice.finalPrice}} {{Product.productPrice.currency}}</li>
                          </ol>
                          </li>
                          <li>Product Rate : {{Product.productRate}} </li>
                          <li>Product Type : {{Product.productType}} </li>
                          <li>Category : {{Product.productCategory}} </li>
                          <li>Sub Category : {{Product.productSubCategory}} </li>
                          <li>Product Keywords : {{Product.keywords}} </li>
                          <li>WareHouse : {{warehouseName(Product.warehouseId)}} </li>
                          <li>Product Stock : {{Product.productStock}} </li>
                          <li>Seller Name : {{sellerName(Product.productSales)}} </li>
                          <img id="adImg" [src]="Product.productImages"> 
                        </ul>
  
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
                      </div>
                    </div>
                  </div>
                </div> -->
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  